<!-- S-输入理由的弹出框 -->
 <div class="modal fade bs-example-modal-sm account noagree" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请输入理由</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
		    <textarea name="" id="no_agree_opinion" cols="30" rows="10" class="form-control" placeholder="请输入理由" maxlength="100"></textarea>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="no-agree">确定</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="" id="no_agree_num" />
<!-- E-输入理由的弹出框 -->