<link rel="stylesheet" type="text/css" href="__CSS__/supplier_add.css">
<script type="text/javascript" src="__JS__/jquery.form.js"></script>
		<!-- S-页面主要部分 -->
		<div class="mainContent">
			<ol class="breadcrumb">
			  <li><a href="{{:U('Mjsupplier/mssm')}}?type={{$Think.get.type}}">供应商库</a></li>
			  <li class="active">新增/修改供应商</li>
			</ol>
			<!-- S-填写部分 -->
			<form action="{{:U('Mjsupplier/mssmsave')}}" method="post" name="forms" id="forms">
				<input type="hidden" value="{{$info.sup_id}}" name="sup_id" id="sup_id" >
				<input type="hidden" value="{{$Think.get.type}}" name="type" id="type" >
				<div class="list_main">		
					<div class="row list">
					  <div class="col-xs-2 name">类型</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="profession" value="{{$info.profession}}"  id="profession" placeholder="供应商领域/职业">
					    </div>
					  </div>
					</div>
				
					<div class="row list">
					  <div class="col-xs-2 name">供应商名称</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="sup_full_name" value="{{$info.sup_full_name}}" id="sup_full_name" placeholder="供应商名称">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">粉丝数（万）</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="fans_num" value="{{$info.fans_num}}" id="fans_num" placeholder="粉丝数（万）">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">账户信息</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="account_info" value="{{$info.account_info}}" id="account_info" placeholder="账户信息">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">转发数（近200条）</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="transmit_num" value="{{$info.transmit_num}}" id="transmit_num" placeholder="转发数（近200条）">
					    </div>
					  </div>
					</div>


					<div class="row list">
					  <div class="col-xs-2 name">评论数（近200条）</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="discuss_num"  value="{{$info.discuss_num}}"  id="discuss_num" placeholder="评论数（近200条）">
					    </div>
					  </div>
					</div>
					
					
					<div class="row list">
					  <div class="col-xs-2 name">互动率（%）</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="interact"  value="{{$info.interact}}"  id="interact" placeholder="互动率%">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">直发</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="zhi_fa" value="{{$info.zhi_fa}}" id="zhi_fa" placeholder="直发">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">转发</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="zhuan_fa" value="{{$info.zhuan_fa}}" id="zhuan_fa" placeholder="转发">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">联系方式</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="contact_way"  value="{{$info.contact_way}}"  id="contact_way" placeholder="联系方式">
					    </div>
					  </div>
					</div>
					
					<div class="row list">
					  <div class="col-xs-2 name">收款人</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" name="payee"  value="{{$info.payee}}"  id="collect_money" placeholder="收款人">
					    </div>
					  </div>
					</div>

					<div class="row list">
					  <div class="col-xs-2 name">收款方式</div>
					  <div class="col-xs-10 input_text">
	  					    <div class="col-xs-3" id="select">  					    	
		  					   <select name="pay_method" id="way" class="form-control">
		  					   		<option value="0">请选择收款方式</option>
									<volist name="methods" id="mv" key="mk">
			  					   	<option <eq name="info.pay_method" value="$mk">selected checked</eq> value="{{$mk}}">{{$mv}}</option>
									</volist>
		  					   </select>
	  					    </div>
							
					  </div>
					</div>
					
					<div class="row list bank" <if condition="$info.pay_method eq '1'"><else/>style="display:none"</if>>
					  <div class="col-xs-2 name">所属银行</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" value="{{$info.bnk_branch}}"  name="bnk_branch" id="branch_info" placeholder="所属银行">
					    </div>
					  </div>
					</div>

					<div class="row list bank" <if condition="$info.pay_method eq '1'"><else/>style="display:none"</if>>
					  <div class="col-xs-2 name">银行账号</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" value="{{$info.bnk_acct}}"  name="bnk_acct" id="bank_num" placeholder="银行账号">
					    </div>
					  </div>
					</div>
					
					<div class="row list other" <if condition="$info.pay_method eq '3'"><else/>style="display:none"</if>>
					  <div class="col-xs-2 name">其他</div>
					  <div class="col-xs-10 input_text">
					  	<div class="col-xs-3">
					    	<input type="text" class="form-control" value="{{$info.other}}"  name="other" id="other" placeholder="其他">
					    </div>
					  </div>
					</div>

					<div class="row list">
					  <div class="col-xs-2 name"></div>
					  <div class="col-xs-10 input_text">
					  	<div class="Submit_btn">
					      <button type="button" class="btn btn-default" id="Submit">保存</button>&nbsp;&nbsp;&nbsp;
					      <button type="reset" class="btn btn-default" id="reset">重置</button>				    	
					    </div>
					  </div>
					</div>

				</div>
			</form>
			<!-- E-填写部分 -->
		</div>
		<!-- E-页面主要部分 -->
<script>
jQuery(document).ready(function($) {
	$("#way").change(function(){
		var borrow_way = $(this).val();
		if(borrow_way == '1'){
			$(".bank").show();
			$(".other").hide();
		}else if(borrow_way == '2'){
			$(".bank").hide();
			$(".other").hide();
		}else{
			$(".bank").hide();
			$(".other").show();
		}
	})
	
	$("#Submit").click(function(event) {
		if ($("#sup_full_name").val()=="") {
			alert("请填写供应商名称");
			return
		}
		if ($("#fans_num").val()!="" && isNaN($("#fans_num").val())) {
			alert("粉丝数必须为数字");
			return
		}
		if ($("#transmit_num").val()!="" && isNaN($("#transmit_num").val())) {
			alert("转发数必须为数字");
			return
		}
		if ($("#discuss_num").val()!="" && isNaN($("#discuss_num").val())) {
			alert("评论数必须为数字");
			return
		}
		if ($("#interact").val()!="" && isNaN($("#interact").val())) {
			alert("互动率必须为数字");
			return
		}
		if ($("#zhi_fa").val()!="" && isNaN($("#zhi_fa").val())) {
			alert("直发必须为数字");
			return
		}
		if ($("#zhuan_fa").val()!="" && isNaN($("#zhuan_fa").val())) {
			alert("转发必须为数字");
			return
		}
		
		$("#forms").ajaxSubmit({
	          url: $('#forms').attr('action'),
	          type:'post',
	          dataType: 'json',
	          success:function(data){
		          if(data.status == 1){
		        	  alert(data.msg,"{{:U('Mjsupplier/mssm')}}?type={{$Think.get.type}}");
		          }            
	          },error:function(){
	              alert("上传失败");
	          }
	        })
	});
});
</script>

