<link rel="stylesheet" type="text/css" href="__CSS__/supplier.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
<script type="text/javascript" src="__JS__/supplier.js"></script>
	<!--E-头部 -->

		<!-- S-页面主要部分 -->
		<div class="mainContent" style="overflow-x: scroll;">
			<ol class="breadcrumb">
			  <li class="active"><a  href="{{:U('Mjsupplier/index')}}">媒介供应商库</a></li>
			</ol>
			<!-- S-搜索框部分 -->
			<div class="search_main">
				<a id="add_btn" class="btn btn-primary" href="{{:U('Mjsupplier/mssmadd')}}?type={{$Think.get.type}}">&nbsp;&nbsp;新增&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=1')}}">&nbsp;&nbsp;美妆&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=2')}}">&nbsp;&nbsp;时尚&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=3')}}">&nbsp;&nbsp;生活方式&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=4')}}">&nbsp;&nbsp;明星&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=weibo')}}">&nbsp;&nbsp;微博草根&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=wechatman')}}">&nbsp;&nbsp;微信达人&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=wechat')}}">&nbsp;&nbsp;微信草根&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=media')}}">&nbsp;&nbsp;媒体&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=app')}}">&nbsp;&nbsp;APP&nbsp;&nbsp;</a>
				<a id="add_btn" class="btn btn-primary mg-left-10" href="{{:U('Mjsupplier/mssm?type=live')}}">&nbsp;&nbsp;直播达人&nbsp;&nbsp;</a>
				<form name="searchform" action="{{:U('Mjsupplier/mssm')}}" method="get">
				<div class="search_input">
					<div class="col-lg-9">
					    <div class="input-group">
					      <input type="hidden" value="{{$Think.get.type}}" name="type" />
					      <input type="text" placeholder="供应商名称" value="{{$search.sup_full_name}}" name="sup_full_name" class="form-control">
					      <span class="input-group-btn">
					        <button class="btn btn-default"  type="submit">搜索</button>
					      </span>
					    </div>
				    </div>
				</div>
				</form>
			</div>
			<!-- E-搜索框部分 -->
			<!-- S-表格部分 -->
			<div class="table" style="width:200%;max-width:200%">
				
				<table class="table table-striped table-bordered table-hover " >
					<colgroup>
						<col width="5%">
						<col width="7%">
						<col width="6%">
						<col width="10%">
						<col width="6%">
						<col width="5%">
						<col width="5%">
						<col width="5%">
						<col width="5%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="5%">
						<col width="6%">
					</colgroup>
					<thead>
						<tr id="table_head">
							<th>类型</th>
							<th>媒体名称</th>
						    <th>官方微博账号</th>
						    <th>微博链接</th>
						    <th>微博粉丝数</th>
						    <th>微博费用</th>
						    <th>官方微信ID</th>
						    <th>粉丝数</th>
						    <th>微信费用</th>
							<th>备注</th>
							<th>联系方式</th>
							<th>邮箱</th>
							<th>奖项</th>
						    <th>操作</th>
						</tr>
					</thead>
					<tbody>  
						<volist name="list" id="vo">
	                    <tr class="table_bd active">
	                    	<td>
								{{$vo.profession}}							
							</td>
							<td>
								{{$vo.sup_full_name}}
							</td>
							<td>
								{{$vo.weibo_name}}
							</td>
							<td>
								{{$vo.weibo_link}}							
							</td>
							<td>
								{{$vo.weibo_fans_num}}
							</td>
							<td>
								{{$vo.weibo_money}}
							</td>
							<td>
								{{$vo.wechat_id}}							
							</td>
							<td>
								{{$vo.wechat_fans_num}}							
							</td>
							<td>
								{{$vo.wechat_money}}
							</td>
							<td>
							    {{$vo.mark}}
							</td>
							<td>
								{{$vo.contact_way}}
							</td>
							<td>
								{{$vo.email}}
							</td>
							<td>
								{{$vo.prize}}
							</td>
							<td class="operate">							
								<a href="{{:U('Mjsupplier/mssmadd',array('id'=>$vo['sup_id'],'type'=>'media'))}}" class="edit">修改</a>
								<a href="javascript:void(0)" value="{{$vo.sup_id}}" url="{{:U('Mjsupplier/mssmdel',array('type'=>'media'))}}" class="deleat">删除</a>
							</td>
						</tr> 
						</volist> 
					</tbody>
				</table>
				
			</div>
			<div class="Pagination">{{$page}}</div>
			<!-- E-表格部分 -->
		</div>
		<!-- E-页面主要部分 -->
