
<style>
	.search_main .mg-right-15{float:left}
	.breadcrumb{padding: 8px 0;}
	.cause label,.carry_out label{display:block;padding: 5px 20px;}
	.over-hidden{overflow: hidden;}
	textarea{ resize:none;}
	.write label{margin-bottom: 15px;}
	.radio input[type=radio],.no_carry_out label{display:block;}
	.no_carry_out,.carry_out{display: none;}
</style>
	<!--E-头部 -->

		<!-- S-页面主要部分 -->
		<div class="mainContent col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">离职信息填写</a></li>
				<li class="active">lead填写</li>
			</ol>
			<div class="content_main">
				<div class="alert alert-danger" role="alert">

					<div class="over-hidden">					
					  <div class="pull-left">					  	
					  	<strong>确认离职日期：</strong>
					  </div>
					  <div class="pull-left">					  	
						  <p>2017-07-24</p>
					  </div>
					</div>

					<div class="over-hidden">					
					  <div class="pull-left">					  	
					  	<strong>公司原因：</strong>
					  </div>
					  <div class="pull-left">					  	
						  <p>对工资或 福利不满意</p>
						  <p>对工资或 福利不满意</p>
						  <p>对工资或 福利不满意</p>
					  </div>
					</div>
					<div class="over-hidden">					
					  <div class="pull-left">					  	
					  	<strong>个人原因：</strong>
					  </div>
					  <div class="pull-left">					  	
						  <p>对工资或 福利不满意</p>
						  <p>对工资或 福利不满意</p>
						  <p>对工资或 福利不满意</p>
					  </div>
					</div>

				</div>
				<!-- S-离职原因 -->
				<div class="panel panel-default">
				  	<div class="panel-heading"><strong>离职原因(Reason of leaving)</strong><span style="color:red;margin-left:5px;">请指出员工离职最主要的原因（请在恰当处打勾）或列举</span></div>
					<div class="panel-body">
						<div class="col-xs-12 cause">
							<!-- S-公司原因 -->
							<h4><strong>公司原因(Company reason)</strong></h4>
							<div class="checkbox col-xs-12">
							  <label>
							    <input type="checkbox" value="">
							    对工资或 福利不满意(Compensation & Benefits）
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作环境(Working Environment) 
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	不满意公司的政策和措施(Company Policy & Regulations)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	没有事业发展机会(Limited Career development)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作太枯燥, 缺少热情(Lack of Job Challenge)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	缺少学习和知识(Lack of Training)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作压力太大，个人不能承受(Workload & OT)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	同事关系不融洽(Relationship with Colleagues)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	与上司关系不融洽(Relationship with Line Manager)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	公司内部产品没有创新，产品使用极不便捷(Product Innovation Problem)
							  </label>
							</div>
							<!-- E-公司原因 -->
							<!-- S-个人原因 -->
							<div class="checkbox col-xs-12">
							  <h4><strong>个人原因(Personal reason)</strong></h4>
							  <label>
							    <input type="checkbox" value="">
							    找到更好的工作(Better Offer)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	自己经营生意(Start Own Business)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	移民(Emigration)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	回校深造(Further Education)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	健康原因(Health issue)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	家庭原因(Family reason)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	对这个行业没太多热情，想转去其他行业(Changing profession)
							  </label>
							</div>
							<!-- E-个人原因 -->
						</div>
					</div>
				</div>
				<!-- E-离职原因 -->
				<!-- S-填写部分 -->
				<div class="over-hidden write">
					<label class="col-xs-12">						
						<p class="lead"><strong>1、请列举员工在工作中有哪些优点?<br>
						(工作能力、责任、 态度、 自信、自我激励、 沟通能力、 协调能力、领导能力、承受压力等)<br>
						(Please list the strength of this employee. i.e. responsibility, capacity, attitude, leadership, pressure, etc.)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>2、请列出员工在工作上有何不足之处?(Please list the disadvantages of the employee.)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>3、请描述员工在过去工作过程中是否掌握公司商业信息或重要的客户资源或核心技术能力？(Please state if the employee has got some important information about the business or the customers or the core technology or not ? )</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>4、请结合员工的总体工作表现作一个评价，并用1-5分表示(5分最好)，并说明理由。(For general working evaluation, please grade for 1-5 (5is the highest, and list reasons)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>5、如果以后你团队还有类似岗位空缺，你愿意再共事/再雇佣他/她吗？为什么？(Would you like to re-employ him/her again? Why?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
				  </div>
				<!-- E-填写部分 -->

				<!-- S-竞业限制 -->
				<div class="panel panel-default">
				  	<div class="panel-heading"><strong>竞业限制</strong></div>
					<div class="panel-body">
						<div class="col-xs-12 astrict">
							<h4><strong>是否选择执行竞业限制条款？（To enforce non-competition obligations）</strong></h4>
							<div class="radio">
								<label>
									<input type="radio" name="YesorNo" id="yes">
									Yes
								</label>
								<label>
									<input type="radio" name="YesorNo" id="no">
									No
								</label>
							</div>
							<!-- S-执行原因 -->
							<div class="checkbox col-xs-12 carry_out">
							  <h4><strong>执行的主要原因（If yes, please state the reason）</strong></h4>
							  <label>
							    <input type="checkbox" value="">
							    公司服务1年半以上（包括1年半），担任核心关键岗位；Service MAX more than 1 and a half years as a key membe
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	掌握丰富的公司知识（包括作为知识宣传培训人，内部协调人）；Master the company’s  intelligence 
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	掌握公司丰富的客户资源和产品资源；Master a range of client and products resources
							  </label>
							  <label style="padding-left:0;">
							    <span style="margin-bottom:5px;display:block;">其他(Others)：</span>
								<textarea class="form-control" rows="3"></textarea>
							  </label>
							</div>
							<!-- E-执行原因 -->
							<!-- S-不执行原因 -->
							<div class="col-xs-12 no_carry_out">
								<label>
									<h4><strong>不执行的主要原因( If not, please state the reason ):</strong></h4>
									<textarea class="form-control" rows="3"></textarea>
								</label>
							</div>
							<!-- S-不执行原因 -->
						</div>
					</div>
				</div>
				<!-- E-竞业限制 -->
				<div class="col-xs-12" style="margin-top:20px;">
					<a class="btn btn-primary" href="javascript:;" id="submit_btn">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>
				</div>	

			</div>	
			
		</div>
		<!-- E-页面主要部分 -->



		<script type="text/javascript">
			//提交
			$("#submit_btn").click(function(event) {
				var checkedSize = $(".cause input[type='checkbox']:checked").length;
				if (checkedSize == 0) {
					alert("请选择离职原因");
					return false;
				}
				for(var i = 0; i < $(".write label").length;i++  ){
					if ($(".write label").eq(i).find("textarea").val() == "") {
						alert("请填写第"+ (i+1) +"题");
						return false;
					};
				}
				var radioSize = $(".astrict input[type='radio']:checked").size();
				var radioName = $(".astrict input[type='radio']:checked").attr('id');
				if (radioSize == 0) {
					alert("请选择是否选择执行竞业限制条款？");
					return false;
				}else{
					if (radioName == "yes") {
						//验证执行原因
						var checkbox_size = $(".carry_out input[type='checkbox']:checked").size();
						var val = $(".carry_out textarea").val();
						if (checkbox_size == 0 && val == "") {
							alert("请选择或填写执行主要原因");
							return false;
						}
					}
					else{
						//验证不执行原因
						var val = $(".no_carry_out textarea").val();
						if (val == "") {
							alert("请填写不执行的主要原因");
							return false;
						}
					}

					//提交数据
					alert("提交数据");

				}
			});
			//type切换
			$(".astrict input[type='radio']").click(function(event) {
				var checked_name = $(this).attr("id");
				if (checked_name == "yes") {
					$(".carry_out").fadeIn();
					$(".no_carry_out").fadeOut();
				}
				else{
					$(".no_carry_out").fadeIn();
					$(".carry_out").fadeOut();
				}				
			});
		</script>

