
<style>
	.search_main .mg-right-15{float:left}
	.breadcrumb{padding: 8px 0;}
	.cause label{display:block;padding: 5px 20px;}
	.over-hidden{overflow: hidden;}
	textarea{ resize:none;}
	.write label{margin-bottom: 15px;}
</style>
	<!--E-头部 -->

		<!-- S-页面主要部分 -->
		<div class="mainContent col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">离职信息填写</a></li>
				<li class="active">个人填写</li>
			</ol>
			<div class="content_main">
				<!-- S-离职原因 -->
				<div class="panel panel-default">
				  	<div class="panel-heading"><strong>离职原因(Reason of leaving)</strong><span style="color:red;margin-left:5px;">请指出员工离职最主要的原因（请在恰当处打勾）或列举</span></div>
					<div class="panel-body">
						<div class="col-xs-12 cause">
							<!-- S-公司原因 -->
							<h4><strong>公司原因(Company reason)</strong></h4>
							<div class="checkbox col-xs-12">
							  <label>
							    <input type="checkbox" value="">
							    对工资或 福利不满意(Compensation & Benefits）
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作环境(Working Environment) 
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	不满意公司的政策和措施(Company Policy & Regulations)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	没有事业发展机会(Limited Career development)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作太枯燥, 缺少热情(Lack of Job Challenge)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	缺少学习和知识(Lack of Training)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	工作压力太大，个人不能承受(Workload & OT)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	同事关系不融洽(Relationship with Colleagues)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	与上司关系不融洽(Relationship with Line Manager)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	公司内部产品没有创新，产品使用极不便捷(Product Innovation Problem)
							  </label>
							</div>
							<!-- E-公司原因 -->
							<!-- S-个人原因 -->
							<div class="checkbox col-xs-12">
							  <h4><strong>个人原因(Personal reason)</strong></h4>
							  <label>
							    <input type="checkbox" value="">
							    找到更好的工作(Better Offer)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	自己经营生意(Start Own Business)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	移民(Emigration)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	回校深造(Further Education)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	健康原因(Health issue)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	家庭原因(Family reason)
							  </label>
							  <label>
							    <input type="checkbox" value="">
							   	对这个行业没太多热情，想转去其他行业(Changing profession)
							  </label>
							</div>
							<!-- E-个人原因 -->
						</div>
					</div>
				</div>
				<!-- E-离职原因 -->
				<!-- S-填写部分 -->
				<div class="over-hidden write">
					<label class="col-xs-12">						
						<p class="lead"><strong>1、请问让你离职原因中最主要的三个原因是什么？(Please state the top three reasons for you to leave the company?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>2、请评价一下公司的文化和氛围?(What is your overall view of the Company’s culture and atmosphere?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>3、你认为公司管理层是否愿意去倾听员工的心声并作出相应改进措施吗？(How do you feel about Management’s willingness to hear voices and make changes?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>4、你的主管是否及时地给你的工作表现提出反馈？(Did your line manager providing feedback on your performance from time to time?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>5、你的主管是否有给你提供这个职位所需要的职业和技能培训？(Did your line manager providing relevant on-job training and knowledge training?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>6、你的团队是否能给予你支持和帮助？当你需要跨部门合作的时候遇到最大的挫折是什么？(Did your team support or help you when you needed them? What is your biggest setback when you worked cross-department?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>7、你觉得在公司期间有没有学到新的知识或技能？(Did you learn some new knowledge or technical skills when you are here?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>8.有没有想过以后再重新加入MAX?(Would you consider returning to this company in the future?)</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
					<label class="col-xs-12">						
						<p class="lead"><strong>9.有其他补充的点吗？(Do you have any other comments about your experience of working at Max? )</strong></p>
					    <textarea class="form-control" rows="4"></textarea>
					</label>
				  </div>
				<!-- E-填写部分 -->
				<div class="col-xs-12" style="margin-top:20px;">
					<a class="btn btn-primary" href="javascript:;" id="submit_btn">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>
				</div>	


			</div>	
			
		</div>
		<!-- E-页面主要部分 -->



		<script type="text/javascript">
			$("#submit_btn").click(function(event) {
				var checkedSize = $(".cause input[type='checkbox']:checked").length;
				if (checkedSize == 0) {
					alert("请选择离职原因");
					return false;
				}
				for(var i = 0; i < $(".write label").length;i++  ){
					if ($(".write label").eq(i).find("textarea").val() == "") {
						alert("请填写第"+ (i+1) +"题");
						return false;
					};
				}
				//提交信息
				console.log(1);
			});
		</script>

