<link rel="stylesheet" type="text/css" href="__CSS__/client.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
	<!--E-头部 -->
		<!-- S-页面主要部分 -->
		<div class="mainContent">
			<ol class="breadcrumb">
			  <li class="active">银行</li>
			</ol>
			<!-- S-搜索框部分 -->
			<div class="search_main">
				<a id="add_btn" class="btn btn-primary" href="{{:U('Bank/add')}}">&nbsp;&nbsp;新增&nbsp;&nbsp;</a>
				<form name="searchform" action="{{:U('Bank/index')}}" method="post">
				<div class="search_input">
					<div class="col-lg-9">
					    <div class="input-group">
					      <input type="text" placeholder="银行名称" value="{{$search.bank_name}}" name="bank_name" class="form-control">
					      <span class="input-group-btn">
					        <button class="btn btn-default"  type="submit">搜索</button>
					      </span>
					    </div>
				    </div>
				</div>
				</form>
			</div>
			<!-- E-搜索框部分 -->
			<!-- S-表格部分 -->
			<div class="table">
				
				<table class="table table-striped table-bordered table-hover ">
					<colgroup>
						<col width="10%">
						<col width="20%">
						<col width="10%">
					</colgroup>
					</colgroup>
					<thead>
						<tr id="table_head">
							<th>序号</th>
							<th>银行名称</th>
						    <th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="vo" key="key">					
	                    <tr class="table_bd active">
							<td>
								{{$key}}
							</td>
							<td>
								{{$vo.bank_name}}								
							</td>
							<td class="operate">							
								<a href="{{:U('Bank/add',array('id'=>$vo['bank_id']))}}" class="edit">修改</a>
								<a href="javascript:void(0)" value="{{$vo.bank_id}}" url="{{:U('Bank/del')}}" class="deleat">删除</a>
							</td>
						</tr>
						</volist>   
					</tbody>
				</table>
				
			</div>
			<div class="Pagination">{{$page}}</div>
			<!-- E-表格部分 -->
		</div>
		<!-- E-页面主要部分 -->

<script type="text/javascript">
jQuery(document).ready(function($) {
	//删除
	$("body").on("click",".table_bd .operate .deleat",function(){
		var _this = $(this);
		//当点击确定时 返回 true 
		if(window.confirm("确定要删除吗?")){
			//$(this).parents(".table_bd").remove();
			$.ajax({
				url:$(this).attr('url'),
				data:{id:_this.attr('value')},
				dataType:'json',
				success:function(res){
					alert(res.msg);
					if(res.code==1){
						location.reload();
					}
				}
			})
		}	
	});
});
</script>
