<link rel="stylesheet" type="text/css" href="__CSS__/supplier.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css">
<script charset="utf-8" src="__PUBLIC__/datetime/WdatePicker.js"></script>
<style>
.search_main .mg-right-15{float:left}
</style>
	<!--E-头部 -->

		<!-- S-页面主要部分 -->
		<div class="mainContent">
			<ol class="breadcrumb">
			  <li class="active">招聘信息</li>
			</ol>
			<!-- S-搜索框部分 -->
			<div class="search_main">
				<form action="{{:U('UserHr/index')}}" method="post">
					
					<div id="select" class="col-xs-1">
						<input type="text" class="form-control" placeholder="名称" name="name" value="{{$search.name}}">
					</div>
					<div id="select" class="col-xs-1">
						<input type="text" class="form-control" placeholder="电话" name="phone" value="{{$search.phone}}">
					</div>
					<div id="select" class="col-xs-1">
						<input type="text" class="form-control" placeholder="面试岗位" name="job" value="{{$search.job}}">
					</div>
					<div id="select" class="mg-right-15">
						<button class="btn btn-primary" type="submit" id="search">查询</button>
					</div>
				</form>
			</div>
			<!-- S-表格部分 -->
			<div class="table">
				
				<table class="table table-striped table-bordered table-hover ">
					<thead>
						<tr id="table_head">
							<th width="5%">序号</th>
							<th width="10%">姓名</th>
							<th width="10%">手机</th>
							<th width="10%">邮箱</th>
							<th width="10%">面试岗位</th>
							<th width="10%">简历</th>
							<th width="10%">期望薪资</th>
							<if condition="$add neq ''">
						    <th width="15%">操作</th>
						    </if>
						</tr>
					</thead>
					<tbody>  
						<volist name="list" id="vo" key="key">
	                    <tr class="table_bd active">
							<td>
								{{$key}}
							</td>
							<td>
								{{$vo.name}}
							</td>
							<td>
								{{$vo.phone}}							
							</td>
							<td>
								{{$vo.email}}							
							</td>
							<td>
								{{$vo.job}}							
							</td>
							<td>
								<a href="{{$vo.file_url}}" target="_black">简历附件</a>					
							</td>
							<td>
								{{$vo.pre_salary}}
							</td>
							<if condition="$add neq ''">
							<td class="operate">
								<eq name="vo.flow_type" value='3'><a href="javascript:;" class="edit send-offer" data-id=
								"{{$vo.id}}">发送offer</a></eq>
								<a href="{{:U('UserHr/detail',array('id'=>$vo['id'],'type'=>2))}}" class="edit">查看</a>
							</td>
							</if>
						</tr> 
						</volist> 
					</tbody>
				</table>
				
			</div>
			<div class="Pagination">{{$page}}</div>
			
			<!-- E-表格部分 -->



			<!--modal-->
			<div class="modal fade" id="leave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="myModalLabel">Offer发送</h3>
				  </div>
				  <!-- 起止时间 -->
				  <div class="modal-body">
					<div class="panel panel-success">
					  <div class="panel-heading">
						<h3 class="panel-title">设置</h3>
					  </div>
					  <div class="panel-body">
							<div class="row">
								<div class="col-md-2 col-sm-2 col-md-2 text-center" style="line-height: 30px;">入职日期</div>
								<div class="col-md-5 col-sm-5 col-md-5">
									<input type="text" class="form-control" placeholder="入职日期" name="entry_date" id="entry_date" onclick="WdatePicker()" value="">
								</div>
							</div>
							<div class="row no_border">
								<div class="col-md-2 col-sm-2 col-md-2 text-center" style="line-height: 30px;">试用期</div>
								<div class="col-md-5 col-sm-5 col-md-5">
									<input type="text" class="form-control" placeholder="开始日期" id="try_start_date" onclick="WdatePicker()" value="" >
								</div>
								<div class="col-md-5 col-sm-5 col-md-5">
									<input class="form-control" type="text" placeholder="结束日期" id="try_end_date" onclick="WdatePicker()" value="">
								</div>
							</div>
							<div class="row no_border">
								<div class="col-md-2 col-sm-2 col-md-2 text-center" style="line-height: 30px;">合同期</div>
								<div class="col-md-5 col-sm-5 col-md-5">
									<input type="text" class="form-control" placeholder="开始日期" id="contract_start_date" onclick="WdatePicker()" value="" >
								</div>
								<div class="col-md-5 col-sm-5 col-md-5">
									<input class="form-control" type="text" placeholder="结束日期" id="contract_end_date" onclick="WdatePicker()" value="">
								</div>
							</div>
					  </div>
					</div>
				  </div>
				  <!-- 理由 -->
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="confirm_btn">确定</button>
					<input type="hidden" value="0" id="record_id" />
				  </div>
				</div>
			  </div>
			</div>
			<!--modal-->

		</div>
		<!-- E-页面主要部分 -->
<script>
$("#level1_cid").change(function(){
	var cid = $(this).val();
	if(cid>0){
		$.ajax({
			url:"{{:U('SupplierCategory/ajaxGetcate')}}",
			type:'post',
			data:{
				cid:cid
			},
			dataType:'json',
			success:function(data){
				if(data.code==1){
					$('#level2_cid').html(data.list);
				}
			}
		});
	}else{
		$('#level2_cid').html('<option value="0">二级分类</option>');
	}
})
$(".send-offer").on("click",function(){
	$("#try_end_date").val('');
	$("#try_start_date").val('');
	$("#record_id").val($(this).data('id'));
	$("#contract_end_date").val('');
	$("#contract_start_date").val('');
	$('#leave').modal('show');
});
$('#confirm_btn').click(function(){
	var id = $('#record_id').val();
	var  try_end_date = $('#try_end_date').val();
	var  try_start_date = $('#try_start_date').val();
	var  contract_end_date = $('#contract_end_date').val();
	var  contract_start_date = $('#contract_start_date').val();
	var  entry_date = $('#entry_date').val();
	if(entry_date==''){
		alert('请填写入职日期');
		return false;
	}
	if(try_start_date==''){
		alert('请填写试用期开始日期');
		return false;
	}
	if(try_end_date==''){
		alert('请填写试用期结束日期');
		return false;
	}
	if(contract_start_date==''){
		alert('请填写合同开始日期');
		return false;
	}
	if(contract_end_date==''){
		alert('请填写合同结束日期');
		return false;
	}
	$.ajax({
		url:"{{:U('UserHr/sendOffer')}}",
		type:'post',
		data:{
			id:id,
			try_over_date:try_end_date,
			try_start_date:try_start_date,
			contract_start_date:contract_start_date,
			contract_over_date:contract_end_date,
			entry_date:entry_date
		},
		dataType:'json',
		success:function(data){
			if(data.code==1){
				alert('操作成功');
				$('#leave').modal('hide');
				window.location.reload();
			}else{
				alert(data.msg);
			}
		}
		
	})
	
	
})
</script>