<link rel="stylesheet" type="text/css" href="__CSS__/client.css">
<link rel="stylesheet" type="text/css" href="__CSS__/borrow_money.css">
<script type="text/javascript" src="__JS__/borrow_money.js"></script>
<!-- S-页面主要部分 -->
<div class="mainContent">
	<ol class="breadcrumb">
	  <li class="active">借款单</li>
	</ol>

	<!-- S-表格部分 -->	
	<div class="table">
		<div class="min-width1000">
			<!-- S-部门项目等 -->
			<table class="table-striped table-bordered">
				<tr>
					<td class="col-md-2 active">部门</td>
					<td class="col-md-4">{{$depart.depart_name}}</td>
					<td class="col-md-2 active">姓名</td>
					<td class="col-md-4">{{$apply_user.real_name}}</td>
				</tr>
				<tr>
					<td class="col-md-2 active">项目</td>
					<td class="col-md-4">
						<foreach name="projs" item="vo" key="k">
		  					<eq name="borrow.proj_id" value="$vo.proj_id">{{$vo.proj_name}}</eq>
		  				</foreach>
					</td>
					<td class="col-md-2 active">项目编号</td>
					<td class="col-md-4">{{$borrow.proj_no}}</td>
				</tr>
				<tr>
					<td rowspan="2" class="active">
						<br>借款<br>
						方式
					</td>
					<td rowspan="2"><br>
						<label class="radio-inline">
						  <input disabled="disabled" type="radio" name="borrow_way" id="cash" value="1" <if condition="$borrow.borrow_way eq '1' or $borrow.borrow_way eq ''">checked="checked"</if>> 现金
						</label><br>
						<label class="radio-inline">
						  <input disabled="disabled" type="radio" name="borrow_way" id="transfer" value="2" <if condition="$borrow.borrow_way eq 2">checked="checked"</if>> 转账
						</label>
					</td>
					<td class="active">银行</td>
					<td>{{$borrow.bnk_branch}}</td>
				</tr>
				<tr>
					<td class="active">银行账号</td>
					<td>{{$borrow.bnk_acct}}</td>
				</tr>
				<tr id="no_border">
					<td colspan="4">.</td>
				</tr>
			</table>
			<!-- E-部门项目等 -->
			<!-- S-填写款项金额等 -->
			<table class="table-striped table-bordered">
				<tr id="th">
					<td class="col-md-2 active">款项</td>
					<td class="col-md-1 active">可用余额</td>
					<td class="col-md-1 active">借款金额</td>
					<td class="col-md-8 active">备注说明</td>
				</tr>
				<foreach name="money_list" item="vo" key="k">
				<tr class="fund">
					<td class="col-md-1">{{$vo.money_name}}</td>
					<td class="col-md-1">{{$vo.usable_money}}</td>
					<td class="col-md-1">{{$vo.money}}</td>
					<td class="col-md-9">{{$vo.comm}}</td>
				</tr>
				</foreach>
				<tr>
					<td colspan="1" class="active">金额总计（小写）</td>
					<td colspan="3">
						<div class="col-xs-5">{{$borrow.tot_amt}}</div>
					</td>
				</tr>
				<tr>
					<td colspan="1" class="active">金额总计（大写）</td>
					<td colspan="3">
						<div class="col-xs-5">{{$borrow.tot_amt_d}}</div>
					</td>
				</tr>
			</table>
			<!-- E-填写款项金额等 -->
			<!-- S-申请完操作 -->
			<table class="table-striped table-bordered">
				<tr>
					<td class="active">申请人</td>
					<td class="active">项目经理</td>
					<td class="active">部门领导</td>
					<td class="active">总经理</td>
					<td class="active">财务</td>
					<td class="active">出纳</td>
				</tr>
				<tr>
					<td>{{$apply_user.real_name}}</td>
					<td>
						<if condition="$schedule.aprv_result1 eq '1'">
						同意（{{$schedule.user_real_name1}}）
						<p>{{$schedule.aprv_time1|date='Y-m-d H:i:s',###}}</p>
						<elseif condition="$schedule.aprv_result1 eq '-1'"/>
						不同意（{{$schedule.user_real_name1}}）<notempty name="schedule.aprv_opinion1"><br/>理由：{{$schedule.aprv_opinion1}}</notempty>
						<p>{{$schedule.aprv_time1|date='Y-m-d H:i:s',###}}</p>
						<else/>
						<eq name="user_id" value="$schedule.aprv_user_id1">
							<button type="button" class="btn btn-success btn-sm" value="1" val="1">同意</button>
							<button type="button" class="btn btn-danger btn-sm" value="-1" val="1">不同意</button>
						<else/>
							<if condition="$schedule.aprv_user_id1 neq '0'">
							等待审批（{{$schedule.user_real_name1}}）
							<else/>
							--
							</if>
						</eq>
						</if>
					</td>
					<td>
						<if condition="$schedule.aprv_result2 eq '1'">
						同意（{{$schedule.user_real_name2}}）
						<p>{{$schedule.aprv_time2|date='Y-m-d H:i:s',###}}</p>
						<elseif condition="$schedule.aprv_result2 eq '-1'"/>
						不同意（{{$schedule.user_real_name2}}）<notempty name="schedule.aprv_opinion2"><br/>理由：{{$schedule.aprv_opinion2}}</notempty>
						<p>{{$schedule.aprv_time2|date='Y-m-d H:i:s',###}}</p>
						<else/>
						<eq name="user_id" value="$schedule.aprv_user_id2">
							<button type="button" class="btn btn-success btn-sm" value="1" val="2">同意</button>
							<button type="button" class="btn btn-danger btn-sm" value="-1" val="2">不同意</button>
						<else/>
							<if condition="$schedule.aprv_user_id2 neq '0'">
							等待审批（{{$schedule.user_real_name2}}）
							<else/>
							--
							</if>
						</eq>
						</if>
					</td>
					<td>
						<if condition="$schedule.aprv_result3 eq '1'">
						同意（{{$schedule.user_real_name3}}）
						<p>{{$schedule.aprv_time3|date='Y-m-d H:i:s',###}}</p>
						<elseif condition="$schedule.aprv_result3 eq '-1'"/>
						不同意（{{$schedule.user_real_name3}}）<notempty name="schedule.aprv_opinion3"><br/>理由：{{$schedule.aprv_opinion3}}</notempty>
						<p>{{$schedule.aprv_time3|date='Y-m-d H:i:s',###}}</p>
						<else/>
						<eq name="user_id" value="$schedule.aprv_user_id3">
							<button type="button" class="btn btn-success btn-sm" value="1" val="3">同意</button>
							<button type="button" class="btn btn-danger btn-sm" value="-1" val="3">不同意</button>
						<else/>
							<if condition="$schedule.aprv_user_id3 neq '0'">
							等待审批（{{$schedule.user_real_name3}}）
							<else/>
							--
							</if>
						</eq>
						</if>
						
						<if condition="$schedule.aprv_result3 neq '0' and $schedule.aprv_result4 eq '0'">
							<eq name="user_id" value="$schedule.aprv_user_id3">
								<button type="button" class="btn btn-warning" value="1" val="3" style="padding: 5px 10px;">返回</button>
							</eq>
						</if>
					</td>
					<td>
						<if condition="$schedule.aprv_result4 eq '1'">
						同意（{{$schedule.user_real_name4}}）
						<p>{{$schedule.aprv_time4|date='Y-m-d H:i:s',###}}</p>
						<elseif condition="$schedule.aprv_result4 eq '-1'"/>
						不同意（{{$schedule.user_real_name4}}）<notempty name="schedule.aprv_opinion4"><br/>理由：{{$schedule.aprv_opinion4}}</notempty>
						<p>{{$schedule.aprv_time4|date='Y-m-d H:i:s',###}}</p>
						<else/>
						<eq name="user_id" value="$schedule.aprv_user_id4">
							<button type="button" class="btn btn-success btn-sm" value="1" val="4">同意</button>
							<button type="button" class="btn btn-danger btn-sm" value="-1" val="4">不同意</button>
						<else/>
							<if condition="$schedule.aprv_user_id4 neq '0'">
							等待审批（{{$schedule.user_real_name4}}）
							<else/>
							--
							</if>
						</eq>
						</if>
					</td>
					<td>
						<if condition="$schedule.aprv_result5 eq '1'">
						已打款（{{$schedule.user_real_name5}}）
						<p>{{$schedule.aprv_time5|date='Y-m-d H:i:s',###}}</p>
						<elseif condition="$schedule.aprv_result5 eq '-1'"/>
						不同意（{{$schedule.user_real_name5}}）<notempty name="schedule.aprv_opinion5"><br/>理由：{{$schedule.aprv_opinion5}}</notempty>
						<p>{{$schedule.aprv_time5|date='Y-m-d H:i:s',###}}</p>
						<else/>
						<eq name="user_id" value="$schedule.aprv_user_id5">
							<button type="button" class="btn btn-success btn-sm" value="1" val="5">确认打款</button>
						<else/>
							<if condition="$schedule.aprv_user_id5 neq '0'">
							待打款（{{$schedule.user_real_name5}}）
							<else/>
							--
							</if>
						</eq>
						</if>
					</td>
				</tr>
			</table>
			<!-- E-申请完操作 -->
			
			<!-- S-提交部分 -->
			<if condition="$is_show_app eq 1">
			<div class="edit text-center">
				<select name="" id="cur_approver_id">
					<option value="0">请选择审批人</option>
					<foreach name="approve_users" item="vo">
						<option value="{{$vo.user_id}}" <eq name="borrow.cur_approver_id" value="$vo.user_id">selected="selected"</eq>>{{$vo.real_name}}</option>
					</foreach>
				</select>&nbsp;
				<button type="button" class="btn btn-primary" id="Submit">提交</button>
			</div>
			</if>
			<if condition="$is_restart eq 1">
			<div class="edit text-center">
				<button type="button" class="btn btn-primary" id="Restart">重新发启</button>
			</div>
			</if>
			<!-- E-提交部分 -->
		
	  	<!-- S-输入理由的弹出框 -->
		<include file="./Application/Home/View/noagree.html" />
		<!-- E-输入理由的弹出框 -->
		
	<!-- E-表格部分 -->	
	<input type="hidden" value="{{$borrow.borrow_id}}" id="borrow_id" />
	<input type="hidden" value="" id="no_agree_num" />
	<if condition="$lvl_id lt 5 and $borrow.result eq '1'">
	<br/>
		<table class="table-striped table-bordered table-hover ">
			<colgroup>
				<col width="15%">
				<col width="15%">
				<col width="8%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="8%">
			</colgroup>
			<thead>
				<tr id="table_head">
					<th>报销单号</th>
					<th>申请人</th>
					<th>报销方式</th>
				    <th>金额总计</th>
				    <th>状态</th>
				    <th>创建时间</th>
				    <th>操作</th>
				</tr>
			</thead>
			<tbody>  
                <foreach name="recoupeds" item="vo" key="k">   
                <tr class="table_bd active">
                	<td>{{$vo.rec_no}}</td>
					<td>{{$vo.depart_name}}--{{$vo.real_name}}</td>
					<td>{{$vo.borrow_way_name}}</td>
					<td>{{$vo.tot_amt}}</td>
					<td>{{$vo.result_info}}</td>
					<td>{{$vo.crt_time}}</td>
					<td class="operate" id="{{$vo.rec_id}}">
						<a href="{{:U('Recouped/info')}}?id={{$vo.rec_id}}" >详情</a>
					</td>
				</tr> 
				</foreach>    
			</tbody>
		</table>
		<br/>
		<table class="table-striped table-bordered table-hover ">
			<colgroup>
				<col width="15%">
				<col width="8%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="8%">
			</colgroup>
			<thead>
				<tr id="table_head">
					<th>还款单号</th>
					<th>申请人</th>
				    <th>还款金额总计</th>
				    <th>状态</th>
				    <th>创建时间</th>
				    <th>操作</th>
				</tr>
			</thead>
			<tbody>  
                <foreach name="refunds" item="vo" key="k">   
                <tr class="table_bd active">
                	<td>{{$vo.ref_no}}</td>
					<td>{{$vo.depart_name}}--{{$vo.real_name}}</td>
					<td>{{$vo.tot_amt}}</td>
					<td>{{$vo.result_info}}</td>
					<td>{{$vo.crt_time}}</td>
					<td class="operate" id="{{$vo.ref_id}}">
						<a href="{{:U('Refund/info')}}?id={{$vo.ref_id}}">详情</a>
					</td>
				</tr> 
				</foreach>    
			</tbody>
		</table>
		</if>
		<div style="text-align: center;margin-top:20px">
			<a class="btn btn-primary" href="{{:U('Print/borrow')}}?id={{$Think.get.id}}" target="_blank">&nbsp;&nbsp;去打印&nbsp;&nbsp;</a>
			<if condition="$user_id eq '87'">
				第{{$recouped.print_num}}次打印
			</if>
		</div>
	</div>
	</div>
<!-- E-页面主要部分 -->
<script>
jQuery(document).ready(function($) {
	var click=true;
	$("#Submit").click(function(event) {
		var cur_approver_id = $("#cur_approver_id").val();
		var borrow_id = $("#borrow_id").val();
		if (cur_approver_id==0) {
			alert("请选择审批人！");
			return false;
		}
		if(click){
			click = false;
			$("#loading").show();
			$.ajax({
				url:"{{:U('Borrow/choose')}}",
				type:"post",
				dataType:'json', 
				data:{'borrow_id':borrow_id,"cur_approver_id":cur_approver_id},
				success:function(data){
					$("#loading").hide();
					if(data.status == 1){
						alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
					}else{
						alert(data.msg);
						click = true;
						return false;
					}
				}
			});
		}
	});
	
	var click1=true; 
	$(".btn-sm").click(function(){
		var val = $(this).attr("value");
		var num = $(this).attr("val");
		var borrow_id = $("#borrow_id").val();
		if(val==-1){
			$("#no_agree_num").val(num);
			$(".account").modal('show');
		}else{
			if(click1){
				click1 = false;
				if(confirm('确定要执行同意操作吗？')){
					$("#loading").show();
					$.ajax({
						url:"{{:U('Borrow/operate')}}",
						type:"post",
						dataType:'json', 
						data:{'borrow_id':borrow_id,'num':num,'result':val},
						success:function(data){
							$("#loading").hide();
							if(data.status == 1){
								<if condition="$lvl_id neq 2">
								alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
								<else/>
								alert("操作成功！","{{:U('Approve/index')}}");
								</if>
							}else{
								alert(data.msg);
								click1 = true;
								return false;
							}
						}
					});
				}else{
					click1 = true;	
				}
			}
		}
	});
	
	var click3 = true;
	$("#no-agree").click(function(){
		var num = $("#no_agree_num").val();
		var borrow_id = $("#borrow_id").val();
		if(click3){
			click3 = false;
			if(confirm('确定要执行不同意操作吗？')){
				$(".account").modal('hide');
				$("#loading").show();
				$.ajax({
					url:"{{:U('Borrow/operate')}}",
					type:"post",
					dataType:'json', 
					data:{'borrow_id':borrow_id,'num':num,'result':-1,'option':$("#no_agree_opinion").val()},
					success:function(data){
						$("#loading").hide();
						if(data.status == 1){
							<if condition="$lvl_id neq 2">
							alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
							<else/>
							alert("操作成功！","{{:U('Approve/index')}}");
							</if>
						}else{
							alert(data.msg);
							click3 = true;
							return false;
						}
					}
				});
			}else{
				click3 = true;	
			}
		}
	});
	
	
	var click2 = true;
	$("#Restart").click(function(){
		if(click2){
			click2 = false;
			if(confirm('确定要重新发启？')){
				var borrow_id = $("#borrow_id").val();
				$.ajax({
					url:"{{:U('Borrow/restart')}}",
					type:"post",
					dataType:'json', 
					data:{'borrow_id':borrow_id},
					success:function(data){
						if(data.status == 1){
							alert("操作成功！","{{:U('Borrow/index')}}");
						}else{
							alert(data.msg);
							click2 = true;
							return false;
						}
					}
				});
			}else{
				click2 = true;
			}
		}
	});
	
	var click4 = true;
	$(".btn-warning").click(function(){
		if(click4){
			click4 = false;
			if(confirm('确定要返回操作吗？')){
				var borrow_id = $("#borrow_id").val();
				$.ajax({
					url:"{{:U('Borrow/back')}}",
					type:"post",
					dataType:'json', 
					data:{'obj_id':borrow_id},
					success:function(data){
						if(data.status == 1){
							alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
						}else{
							alert(data.msg);
							click4 = true;
							return false;
						}
					}
				});
			}else{
				click4 = true;
			}
		}
	})
});
</script>
