<link rel="stylesheet" type="text/css" href="__CSS__/client.css">
<link rel="stylesheet" type="text/css" href="__CSS__/borrow_money.css">
<script type="text/javascript" src="__JS__/borrow_money.js"></script>
<!-- S-页面主要部分 -->
<div class="mainContent">
	<ol class="breadcrumb">
	  <li class="active">借款单</li>
	</ol>

	<!-- S-表格部分 -->	
	<div class="table">
		<div class="min-width1000">
			<!-- S-部门项目等 -->
			<table class="table-striped table-bordered">
				<tr>
					<td class="col-md-2 active">部门</td>
					<td class="col-md-4">{{$depart.depart_name}}</td>
					<td class="col-md-2 active">姓名</td>
					<td class="col-md-4">{{$apply_user.real_name}}</td>
				</tr>
				<tr>
					<td class="col-md-2 active">项目</td>
					<td class="col-md-4">
						<foreach name="projs" item="vo" key="k">
		  					<eq name="borrow.proj_id" value="$vo.proj_id">{{$vo.proj_name}}</eq>
		  				</foreach>
					</td>
					<td class="col-md-2 active">项目编号</td>
					<td class="col-md-4">{{$borrow.proj_no}}</td>
				</tr>
				<tr>
					<td rowspan="2" class="active">
						<br>借款<br>
						方式
					</td>
					<td rowspan="2"><br>
						<label class="radio-inline">
						  <input disabled="disabled" type="radio" name="borrow_way" id="cash" value="1" <if condition="$borrow.borrow_way eq '1' or $borrow.borrow_way eq ''">checked="checked"</if>> 现金
						</label><br>
						<label class="radio-inline">
						  <input disabled="disabled" type="radio" name="borrow_way" id="transfer" value="2" <if condition="$borrow.borrow_way eq 2">checked="checked"</if>> 转账
						</label>
					</td>
					<td class="active">银行</td>
					<td>{{$borrow.bnk_branch}}</td>
				</tr>
				<tr>
					<td class="active">银行账号</td>
					<td>{{$borrow.bnk_acct}}</td>
				</tr>
				<tr id="no_border">
					<td colspan="4">.</td>
				</tr>
			</table>
			<!-- E-部门项目等 -->
			<!-- S-填写款项金额等 -->
			<table class="table-striped table-bordered">
				<tr id="th">
					<td class="col-md-2 theme-bg">款项</td>
					<td class="col-md-1 theme-bg">可用余额</td>
					<td class="col-md-1 theme-bg">借款金额</td>
					<td class="col-md-8 theme-bg">备注说明</td>
				</tr>
				<foreach name="money_list" item="vo" key="k">
				<tr class="fund">
					<td class="col-md-1">{{$vo.money_name}}</td>
					<td class="col-md-1">{{$vo.usable_money}}</td>
					<td class="col-md-1">{{$vo.money}}</td>
					<td class="col-md-9">{{$vo.comm}}</td>
				</tr>
				</foreach>
				<tr>
					<td colspan="1" class="active">金额总计（小写）</td>
					<td colspan="3">
						<div class="col-xs-5">{{$borrow.tot_amt}}</div>
					</td>
				</tr>
				<tr>
					<td colspan="1" class="active">金额总计（大写）</td>
					<td colspan="3">
						<div class="col-xs-5">{{$borrow.tot_amt_d}}</div>
					</td>
				</tr>
			</table>
			<!-- E-填写款项金额等 -->
			<!-- S-申请完操作 -->
			<table class="table-striped table-bordered">
				<tr>
					<td class="theme-bg">申请人</td>
					<foreach name="approve_arr.approve_title_arr" item="vo" key="k">
					<td class="theme-bg">{{$vo}}</td>
					</foreach>
				</tr>
				<tr>
					<td>{{$apply_user.real_name}}</td>
					<include file="./Application/Home/View/approve_banner.html" />
				</tr>
			</table>
			<!-- E-申请完操作 -->
			
			<!-- S-提交部分 -->
			<if condition="$is_restart eq 1">
			<div class="edit text-center">
				<button type="button" class="btn btn-primary" id="Restart">重新发启</button>
			</div>
			</if>
		</div>
		<!-- E-提交部分 -->
		
	  	<!-- S-输入理由的弹出框 -->
		<include file="./Application/Home/View/noagree.html" />
		<!-- E-输入理由的弹出框 -->
		
		<!-- S-选择审批人的弹出框 -->
		<include file="./Application/Home/View/approve.html" />
		<!-- E-选择审批人的弹出框 -->
		
	</div>
	<!-- E-表格部分 -->	
	<input type="hidden" value="{{$borrow.borrow_id}}" id="borrow_id" />
	<if condition="$lvl_id lt 5 and $borrow.result eq '1'">
	<br/>
		<table class="table table-striped table-bordered table-hover ">
			<colgroup>
				<col width="15%">
				<col width="15%">
				<col width="8%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="8%">
			</colgroup>
			<thead>
				<tr id="table_head">
					<th class="theme-bg">报销单号</th>
					<th class="theme-bg">申请人</th>
					<th class="theme-bg">报销方式</th>
				    <th class="theme-bg">金额总计</th>
				    <th class="theme-bg">状态</th>
				    <th class="theme-bg">创建时间</th>
				    <th class="theme-bg">操作</th>
				</tr>
			</thead>
			<tbody>  
                <foreach name="recoupeds" item="vo" key="k">   
                <tr class="table_bd active">
                	<td>{{$vo.rec_no}}</td>
					<td>{{$vo.depart_name}}--{{$vo.real_name}}</td>
					<td>{{$vo.borrow_way_name}}</td>
					<td>{{$vo.tot_amt}}</td>
					<td>{{$vo.result_info}}</td>
					<td>{{$vo.crt_time}}</td>
					<td class="operate" id="{{$vo.rec_id}}">
						<a href="{{:U('Recouped/info')}}?id={{$vo.rec_id}}" >详情</a>
					</td>
				</tr> 
				</foreach>    
			</tbody>
		</table>
	<br/>
		<table class="table-striped table-bordered table-hover ">
			<colgroup>
				<col width="15%">
				<col width="8%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="8%">
			</colgroup>
			<thead>
				<tr id="table_head">
					<th class="theme-bg">还款单号</th>
					<th class="theme-bg">申请人</th>
				    <th class="theme-bg">还款金额总计</th>
				    <th class="theme-bg">状态</th>
				    <th class="theme-bg">创建时间</th>
				    <th class="theme-bg">操作</th>
				</tr>
			</thead>
			<tbody>  
                <foreach name="refunds" item="vo" key="k">   
                <tr class="table_bd active">
                	<td>{{$vo.ref_no}}</td>
					<td>{{$vo.depart_name}}--{{$vo.real_name}}</td>
					<td>{{$vo.tot_amt}}</td>
					<td>{{$vo.result_info}}</td>
					<td>{{$vo.crt_time}}</td>
					<td class="operate" id="{{$vo.ref_id}}">
						<a href="{{:U('Refund/info')}}?id={{$vo.ref_id}}">详情</a>
					</td>
				</tr> 
				</foreach>    
			</tbody>
		</table>
	</if>
	<div style="text-align: center;margin-top:20px">
		<a class="btn btn-primary" href="{{:U('Print/borrow')}}?id={{$Think.get.id}}" target="_blank">&nbsp;&nbsp;去打印&nbsp;&nbsp;</a>
		<if condition="$user_id eq '87'">
			第{{$recouped.print_num}}次打印
		</if>
	</div>
</div>
<!-- E-页面主要部分 -->
<script>
jQuery(document).ready(function($) {
	var click=true;
	$("#btn-success").click(function(event) {
		if(click){
			var cur_approver_id = $("#cur_approver_id").val();
			var num = $("#agree_num").val();
			var borrow_id = $("#borrow_id").val();
			if(confirm('确定要执行同意操作吗？')){
				click = false;
				$(".approve_users").modal('hide');
				$("#loading").show();
				$.ajax({
					url:"{{:U('Borrow/operate')}}",
					type:"post",
					dataType:'json', 
					data:{'borrow_id':borrow_id,'num':num,'result':1,"cur_approver_id":cur_approver_id,'option':$("#agree_opinion").val()},
					success:function(data){
						$("#loading").hide();
						if(data.status == 1){
							<if condition="$lvl_id neq 2">
							alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
							<else/>
							alert("操作成功！","{{:U('Approve/index')}}");
							</if>
						}else{
							alert(data.msg);
							click = true;
							return false;
						}
					},
					error:function(){
						$("#loading").hide();
						click = true;
					}
				});
			}
		}
	});
	
	var click1=true; 
	$(".btn-sm").click(function(){
		var val = $(this).attr("value");
		var num = $(this).attr("val");
		var borrow_id = $("#borrow_id").val();
		if(val==-1){
			$("#no_agree_num").val(num);
			$(".noagree").modal('show');
		}else{
			$("#agree_num").val(num);
			<if condition="$is_show_app eq 1">
			$(".approve_users").modal('show');
			<else/>
			$("#btn-success").click();
			</if>
		}
	});
	
	var click3 = true;
	$("#no-agree").click(function(){
		var num = $("#no_agree_num").val();
		var borrow_id = $("#borrow_id").val();
		if(click3){
			click3 = false;
			if(confirm('确定要执行不同意操作吗？')){
				$(".account").modal('hide');
				$("#loading").show();
				$.ajax({
					url:"{{:U('Borrow/operate')}}",
					type:"post",
					dataType:'json', 
					data:{'borrow_id':borrow_id,'num':num,'result':-1,'option':$("#no_agree_opinion").val()},
					success:function(data){
						$("#loading").hide();
						if(data.status == 1){
							<if condition="$lvl_id neq 2">
							alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
							<else/>
							alert("操作成功！","{{:U('Approve/index')}}");
							</if>
						}else{
							alert(data.msg);
							click3 = true;
							return false;
						}
					}
				});
			}else{
				click3 = true;	
			}
		}
	});
	
	
	var click2 = true;
	$("#Restart").click(function(){
		if(click2){
			click2 = false;
			if(confirm('确定要重新发启？')){
				var borrow_id = $("#borrow_id").val();
				$.ajax({
					url:"{{:U('Borrow/restart')}}",
					type:"post",
					dataType:'json', 
					data:{'borrow_id':borrow_id},
					success:function(data){
						if(data.status == 1){
							alert("操作成功！","{{:U('Borrow/index')}}");
						}else{
							alert(data.msg);
							click2 = true;
							return false;
						}
					}
				});
			}else{
				click2 = true;
			}
		}
	});
	
	var click4 = true;
	$(".btn-warning").click(function(){
		if(click4){
			click4 = false;
			if(confirm('确定要返回操作吗？')){
				var borrow_id = $("#borrow_id").val();
				$.ajax({
					url:"{{:U('Borrow/back')}}",
					type:"post",
					dataType:'json', 
					data:{'obj_id':borrow_id},
					success:function(data){
						if(data.status == 1){
							alert("操作成功！","{{:U('Borrow/info')}}?id="+borrow_id);
						}else{
							alert(data.msg);
							click4 = true;
							return false;
						}
					}
				});
			}else{
				click4 = true;
			}
		}
	})
});
</script>
